/* ResetCSS-START */
html {
  font-size: 62.5%;
}

:root {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bd-yellow: #ffc107;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bd-accent-rgb: 255, 228, 132;
  --bd-pink-rgb: 214, 51, 132;
  --bd-teal-rgb: 32, 201, 151;
  --docsearch-primary-color: var(--bd-violet);
  --docsearch-logo-color: var(--bd-violet);
  --text-white: #ffffff;
  --text-black: #333333;
  --text-yellow: #ffc107;
}

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bd-black);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0rem;
}

.sidemenu {
  width: 100%;
}

.main {
  padding: 4rem 2rem;
}

.main .card {
  margin-top: 3rem;
}

.card {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
}

.table {
  width: 100%;
}

.table th {
  color: var(--text-black);
  background-color: var(--bd-yellow);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
  margin: 0rem;
  padding: 1rem;
}

.table td {
  color: var(--text-black);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0rem;
  padding: 1rem;
}

.form-control {
  color: var(--text-black);
  font-size: 1.4rem;
  font-weight: 400;
}